body{
    background-color: #f8efef;
    margin:0%;
    padding:0%;
}
a{
    text-decoration: none;
}
.inscription{
    display: flex;
    justify-content: right;
    margin-right: 3%;
    padding: 5px;
}
.div{
    justify-content: center;
    text-align:center;
    margin-top: 20vh;
    padding: 30px 5px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 16px;
    background-color: #a09090;
}
.button{
    background-color: #ecb0b0;
    justify-content: center;
    border-radius: 8px;
    border: 0px;
    width: 75%;
    padding: 5px 0px;
}
input{
    border-radius: 8px;
    width: 75%;
    padding: 5px 0px;
}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20vh;
    padding: 30px 5px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 16px;
    background-color: #a09090;
}
.indentifiant{
    display: flex;
    text-align: left;
    margin-left: 13%;
}
